:9002 {
    reverse_proxy /v1beta* http://localhost:9403
    reverse_proxy /* http://localhost:9003 {
        header_down Cross-Origin-Embedder-Policy unsafe-none
        header_down cross-origin-opener-policy same-origin-allow-popups
    }
}
